#about {
    margin: 10px;
    div{
        padding-bottom: 30px;
        &:not(:first-child){
            @media (min-width: 768px) {
                border-left: 1px dotted #a9a9a9;
            }
            @media (max-width: 767px) {
                border-top: 1px dotted #a9a9a9;
            }
        }
    }
    button {
        background-color: darkblue;
        color: white;
        border: none;
        display: inline-block;
        float: right;
        text-align: center;
        padding: 2px 5px;
    }
}
