h1 {
    text-align: center;
}

#date { 
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 2px;
}

#pricetag {
    position:absolute;
    top:0;
    right:10px;
}

#main img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#main .title {
    text-align:center;
}

.ad{
    padding-top: 25px;
}
